<header class="header">
  <div class="title" >TechChat</div>
  <a href="new.html" class="new_btn">質問する</a>
</header>
<% @questions.each do |question| %>
  タイトル：<%= question.title %><br>
  内容：<%= question.content %><br>
  投稿者名：<%= question.questioner %><br>
  <br>
<% end %>